.textarea{
    background: #E5E5E5;
    border: none;
    width: 1015px;
    height: 218px;
}

.input{
    display: inline-block;
}

.label{
    padding: 10px;
    font-size: 15px;
}

.short::placeholder{
    font-size: 15px;
}

.medium::placeholder{
    font-size: 15px;
}

.long::placeholder{
    font-size: 15px;
}

.short {
    width: 260px;
    padding: 10px 5px;
    font-size: 15px;
    border: 1px solid #979797;
    border-radius: 3px;
}

.medium {
    width: 300px;
    padding: 10px 5px;
    font-size: 15px;
    border: 1px solid #979797;
    border-radius: 3px;
}

.long {
    width: 360px;
    padding: 10px 5px;
    font-size: 15px;
    border: 1px solid #979797;
    border-radius: 3px;
}

.fullWidth {
    width: 100%;
}