.checkbox{
    opacity: 0;
}

.label{
    background-image: url("../../public/roundcheck.svg");
    height: 35px;
    width: 35px;
}

.checkbox:checked + label {
    background-image: url("../../public/roundchecked.svg");
}

.small + label{
    background-color: #3976c9;
    border-color: #3976c9;
}


.small{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 480px;
    height: 50px;
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 20px;
    cursor: pointer;
}

.large{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 680px;
    height: 80px;
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 30px;
    cursor: pointer;
}

.contents{
    display: flex;
    flex-direction: column;
}


.content{
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 4px;
}

.subContent{
    font-size: 13px;
    color: #545454;
}