.logo {
    user-select: none;
    display: inline-block;
    margin: 1px 1px;
}

.small {
    font-size: 10px;
}

.medium {
    font-size: 20px;
}

.large {
    font-size: 40px;
}

.primaryColor {
    background-color: #3976c9;
    color: white;
    border-color: #3976c9;
}

.primaryColorFontBlack{
    background-color: #3976c9;
    color: black;
    border-color: #3976c9;
}

.secondaryColor {
    background-color: white;
    color: #3976c9;
    border-color: white;
}